/*폰트*/
.diphylleia-regular {
    font-family: "Diphylleia", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .nav-link:hover,
  .nav-link.active {
      color: #ff9c3f !important;
  }

/* 헤더 영역 */
#home {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/main_img.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 드로잉기초 헤더 영역 */
#home_drawing {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/drawing_color.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 3D 헤더 영역 */
#home_3D {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/3D_window.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 메타버스 헤더 영역 */
#home_meta {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/metamain2.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 디자인기초 헤더 영역 */
#home_digi {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/S_UX:UI.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 모디파 헤더 영역 */
#home_modipa {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/picto.jpg);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 모디기 헤더 영역 */
#home_modigi {
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(images_all/modigi_DEADD.png);
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
}

/* 전공 소개 영역 */
body {
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    font-family: 'Diphylleia', serif;
    background-color:rgb(252, 252, 248);
}


.img_drawing-color { filter:brightness(1);}
.img_drawing-color:hover { filter:brightness(0.5);}

.img_3D_window { filter:brightness(1);}
.img_3D_window:hover { filter:brightness(0.5);}

.img_swf { filter:brightness(1);}
.img_swf:hover { filter:brightness(0.5);}

.img_drawing-color { filter:brightness(1);}
.img_drawing-color:hover { filter:brightness(0.5);}

.img_pictogram { filter:brightness(1);}
.img_pictogram:hover { filter:brightness(0.5);}

.img_metaverse { filter:brightness(1);}
.img_metaverse:hover { filter:brightness(0.5);}

.img_motiontypo_dead { filter:brightness(1);}
.img_motiontypo_dead:hover { filter:brightness(0.5);}